.Dropshadow4navbar {

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand {
	font-family: 'VT323', monospace;
}

.navbar {
	background-color: #8CBCC3;
}

.webcontent {
	margin-top: 70px;
}