.Dropshadow4navbar {

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand {
	font-family: 'VT323', monospace;
}

.navbar {
	background-color: #8CBCC3;
}

.webcontent {
	margin-top: 70px;
}

  .loginbtn {
    background-color: rgba(255,255,255,0.3);
    border-color: rgba(255,255,255,0.3);
    color: white;
  }
  .loginbtn:hover {
        background-color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0.5);
    color: white;
  }

  .loginbtn a {
  	color: white;
  	text-decoration: none;
  }